<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangsan.edu.mock.mapper.CourseInfoMapper"  >
    <select id="selectCourseInfoWithChapter" resultMap="rs">
        select  c.* ,cp.id cpid , chapter_name,
         cp.course_id,
         cp.video_id,
         cp.publisher_id,
         cp.is_free,
         cp.create_time as create_time_cp,
         cp.deleted as delete_cp ,
         cp.update_time as update_time_cp ,
          vi.id vid,
          vi.video_name,
         vi.during_sec,
         vi.video_status,
         vi.video_size,
          vi.video_url,
          vi.version_id,
          vi.chapter_id,
          vi.course_id course_id_v,
          vi.publisher_id publisher_id_v,
          vi.create_time create_time_v,
          vi.update_time update_time_v,
            vi.deleted  deleted_v
         from  course_info c left join  chapter_info cp on c.id=cp.course_id
                  left join  video_info vi on vi.id=cp.video_id

    </select>

    <resultMap id="rs" type="com.zhangsan.edu.mock.bean.CourseInfo" autoMapping="true">

        <collection property="chapterInfoList" javaType="java.util.List" ofType="com.zhangsan.edu.mock.bean.ChapterInfo" autoMapping="true">
            <result property="id" column="cpid"></result>
            <result property="createTime" column="create_time_cp"></result>
            <result property="deleted" column="delete_cp"></result>
            <result property="updateTime" column="update_time_cp"></result>
            <association property="videoInfo" javaType="com.zhangsan.edu.mock.bean.VideoInfo" autoMapping="true">
                <result property="id" column="vid"></result>
                <result property="createTime" column="create_time_v"></result>
                <result property="deleted" column="delete_v"></result>
                <result property="updateTime" column="update_time_v"></result>
            </association>
        </collection>
    </resultMap>
</mapper>
